%h3 Amadeus
%h5 Global leader in online travel technology
%p
  %a{ href: 'http://www.amadeus.com', target: '_blank' }
    Amadeus
  provides the technology which keeps the travel sector moving - from initial search to making a booking, from pricing to ticketing, from managing reservations to managing check-in and departure processes.
