%h3 Gemnasium
%h5 Keep your projects in shape
%p
  Don't be the next company to hit the headlines because your site was compromised.
  Use
  = link_to 'Gemnasium', 'https://gemnasium.com'
  before it's too late!
%p
  = link_to 'Gemnasium', 'https://gemnasium.com'
  monitors your project dependencies and alerts you about updates and security vulnerabilities.
  Your project might be using a dangerous dependency,
  we will notify you as soon as advisories are public and affect your projects. 
%p
  With Gemnasium, start reducing your technical debt today, and keep your project in shape!
