<% wrap_layout :layout do %>
  <div class="row">
    <div class="small-12 large-10 columns">
      <%= yield %>
    </div>

    <div class="row">
      <hr>
      <div class="large-8 columns large-offset-1">
        <p>
          <a href="/">Ruby Lugdunum (aka RuLu)</a> is a two-day conference dedicated to exploring the Ruby language and basking in warmth of the amazing Ruby community.
        </p>
        <p>
          RuLu 2014 takes place in Lyon, France on June 19th and 20th.
          <a href="/">Get your ticket!</a>
        </p>
      </div>
    </div>

  </div>
<% end %>
