%h4 About Arnab
%p
  Arnab is currently a Senior Software Engineer at
  = link_to 'LivingSocial', 'https://www.livingsocial.com/'
  and has been writing Ruby (i.e. having fun) since 2008.
  He loves to travel around the world - and has so far experienced living and working
  in Pune, Bangalore, NYC and Seattle (previously part of the AWS team at Amazon.com).
  Arnab has been crafting software professionally for 9 years and is more passionate about it every new day!
  Learn more at
  = succeed '.' do
    = link_to 'github.com/arnab', 'https://github.com/arnab'

