%h4 About Cameron
%p
  Cameron Daigle is a senior designer/consultant/purveyor-of-common-sense at
  = succeed ',' do
    = link_to 'Hashrocket', 'http://hashrocket.com/'
  a design &amp; development shop that specializes in Ruby on Rails and iOS.
  He’s been working with both platforms since 1.2 and 2.0, respectively,
  and has been building for the web since long before that
  – but through it all has maintained a deep and steadfast love for beautiful user experiences.

