%h4 Chris
%p
  Chris believes that flourishing is the key to happiness, servers are
  an anachronism, and the person that will create SkyNet has already
  been born. He is an avid Rubyist and spends an inordinate amount of
  time thinking about the philosophy of software. Chris lives in San
  Francisco, tweets occasionally, speaks often, and drinks coffee in
  between. At
  = link_to 'GitHub', 'https://github.com/'
  he interacts with humans and computers.

