%h4 About Emily
%p
  Emily is an Engineer / Evangelist with the
  = link_to "MongoDB", 'http://www.mongodb.org/'
  Ruby driver team and an adjunct faculty at Columbia University.
  Before joining MongoDB Inc, Emily worked as a Ruby on Rails developer
  at a NYC startup but her history with Rails goes back to a research project at Paris’ Louvre Museum.
  In addition to enjoying programming and art, Emily likes to travel and run
  when not teaching Rails in her free time.
