%h4 About Joshua
%p Joshua has worked with Objective-C since 2002 and Ruby since 2004. He has built operating systems with Apple, local news websites with AOL, and somehow managed to finish a Ph.D. along the way. Currently, Joshua is Chief Scientist at Burnside Digital where he works with an amazing team of engineers and designers to solve problems for a wide range of clients. He works and lives in Ankara.
%p
Last year, Joshua gave a great talk on
= succeed '.' do
  %a{ href: 'http://iny.r.mailjet.com/redirects/mx6bhjrjsqt3qkbsfncdj8/www.youtube.com/watch?v=U-yxcvAxC6s' } Ruby implementations
Welcome back, Josh!
