%h4 About Konstantin
%p
  Konstantin Tennhard is a computer scientist who specializes in developing large scale internet applications.
  He is passionate about software design, test driven development and all sorts of modern web-technology.
  His main scientific interest is natural language processing and machine learning.
