%h4 About Paolo
%p
  Paolo Perrotta has fifteen years of experience as a developer,
  ranging from embedded to enterprise software, computer games, and web
  applications. Paolo travels the world to mentor agile teams, and to
  pair with coders who are better at this coding stuff than he'll ever
  be. He has a base camp in Bologna, Italy. He wrote the
  = link_to "Metaprogramming Ruby book", 'http://pragprog.com/book/ppmetr/metaprogramming-ruby'
  for the Prags.
