%h4 About Phil
%p
  Phil is a Ruby and JavaScript developer from London.
  He works at
  = link_to 'Mint Digital', 'http://mintdigital.com/'
  to, amongst other projects, get beer to your desk on a Friday afternoon.
  Phil loves test coverage, great beer, hackathons, and gems with puns in their names.
  Get all four together for maximum points. He once made a pull request to Rails... it's still open.
