%h4 About PJ
%p
  A Ruby developer for the last 6 years, PJ currently works at
  = link_to 'Engine Yard', 'https://www.engineyard.com/'
  as a Community Engineer.
  Additionally, he organizes the Western New York Ruby Brigade.
  Traveling to conferences and Ruby meet ups around the US and Canada,
  PJ likes to spread the word on the importance of community and coding,
  stressing the importance of outreach and focusing on the human side of being a coder.
