%h4 About Sam
%p
  Sam is a swashbuckling hacker from London, UK.
  He fixes every size of data problem at
  = succeed '.' do
    = link_to 'Fun and Plausible Solutions', 'http://funandplausible.com/'
  He helps fight for the forces of justice as a member of the
  = link_to 'RSpec', 'http://rspec.info/'
  core team.
  He's sad that he can't hug every cat.
