%h4 About Terence
%p
  Terence leads
  = succeed "'s" do
    = link_to 'Heroku', 'http://heroku.com/'
  Ruby Task Force curating the Ruby experience on the platform.
  He also works some OSS projects such as Ruby (the language), Bundler, as well as helping with the Rails Girls movement.
  When he's not going to an awesome Heroku or Ruby event, he lives in Austin, TX, the taco capital of America.
%p
  Terence loves Friday hugs, EVERY DAY OF THE WEEK! Give him a big one when you see him!
