%h4 About Yannick
%p
  Belgian web developer using Ruby, Go
  or whatever tool/language is needed for the job to be done.
  He loves coffee, beers and also emojis!
  - # But it just looks like squares on Google Chrome...
  - # So here is a snowman just for you ☃.
  Yannick is the organizer of
  = succeed ',' do
    = link_to 'ruby burgers', 'http://rubyburgers.co/'
  a simple event where you just come,
  eat a burger and chat with fellow developers.
  He is a young new dad and love that situation.
