.intro-wrapper {
  margin: 0 !important;
  background: image_url('bg-wavegrid.png');
  .intro {
    background: image_url('bg-intro.png') no-repeat left top;
    height: emCalc(300px);
    padding: emCalc(33px) 0;
  }
  h1 {
    padding-left: -30px;
    color: #f2f2f2;
    font-weight: 700;
    margin-bottom: 0;
    span {
      font-weight: 300;
    }
  }
  .subheader {
    color: #f2f2f2;
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    &+.subheader {
      color: darken($primary-color, 25%);
    }
  }
}

@media #{$small} {

  .top-bar {
    .highlighted a {
      background-color: #af3733 !important;
    }
  }

  .intro {
    padding: emCalc(59px) 0;
  }

  .intro-wrapper {
    h1 {
      font-size: emCalc(59px);
    }
  }
}
