$topbar-background: #8a0f0c;
$topbar-border: #9f2723;
$topbar-link: #db9693;
$topbar-active-link: white;

$header-background: #951b16;
$header-title: white;

$content-background: white;
$content-title: #333;
$content-text: #444;
$content-link: red;
$content-active-link: red;

$footer-text: $topbar-link;
$footer-link: $topbar-link;
$footer-active-link: $topbar-active-link;
$footer-background: $topbar-background;

body {
  font-size: 15px;
  color: $topbar-link;
  background: $topbar-background;

  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:focus, &:hover, &:active {
    text-decoration: none;
  }
}

.container {
  margin: auto;
  width: 988px;
  max-width: 100%;
  position: relative;
}

#topbar {
  background: $topbar-background;
  border-bottom: 1px solid $topbar-border;

  #logo {
    z-index: 1;
    position: absolute;
    left: 0px;

    a {
      background: image-url("img/rulu_2014.png") no-repeat;
      display: block;
      width: 270px;
      height: 205px;
      text-decoration: none;
      text-indent: -9999px;
      margin: 0 auto;
      float: left;
    }
  }

  nav {
    height: 5em;

    ul {
      margin: 0 auto;
      margin-top: 1em;
      margin-right: 1em;
      position: absolute;
      right: 0;
      top: 0;

      li {
        display: inline;
        float: left;

        a {
          margin-left: 1em;
          font-size: 1.2em;
          line-height: 2em;
          display: block;

          text-transform: uppercase;
          color: $topbar-link;

          &:focus, &:hover, &:active {
            color: $topbar-active-link;
          }
        }
      }
    }
  }
}

#pageheader {
  position: relative;
  padding: 0;
  padding-top: 1.5em;
  min-height: 65px;
  margin: 0;

  background: $header-background;

  h1 {
    text-align: right;
    text-transform: uppercase;
    line-height: 1.20em;
    font-size: 2.4em;
    color: $header-title;

    padding: 0;
    margin: 0;
    margin-right: 0.5em;
  }
}

#content {
  color: $content-text;
  background: $content-background;

  min-height: 500px;

  .container .nested {
    padding: 1em;
  }

  h2 {
    margin-top: 3em;
    color: $content-title;
  }

  a {
    color: $content-link;

    &:focus, &:hover, &:active {
      color: $content-active-link;
    }
  }
}

footer {
  background: $footer-background;
  color: $footer-text;

  a {
    color: $footer-link;

    &:focus, &:hover, &:active {
      color: $footer-active-link;
    }
  }

  .links {
    padding: 1em;
    height: 2em;
    line-height: 2em;

    .previous-editions {
      float: left;
    }

    .newsletter {
      float: right;
    }
  }
}

@media screen and (max-device-width: 640px) {
  #topbar #logo {
    top: 42px;
    left: 10px;

    a {
      background: image-url("img/lyonrb_revamped_white_small.png") no-repeat;
      width: 150px;
      height: 83px;
    }
  }

  #content {
    min-height: 300px;

    h2 {
      margin-top: 1em;
    }
  }

  #pageheader {
    min-height: 70px;
  }
}

.nested {
  a {
    text-decoration: underline;
    color: red;

    &:focus, &:hover, &:active {
      text-decoration: underline;
      color: red;
    }
  }
}

.nested.homepage, .nested.about {
  text-align: center;

  p {
    max-width: 400px;
    margin: 1em auto;
  }

  em {
    text-decoration: underline;
    font-style: normal;
  }
}
