body {
  font-size: 15px;
  color: #444;
  background: #222;

  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  width: 988px;
  max-width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: #aaa;

  &:focus, &:hover, &:active {
    text-decoration: none;
    color: white;
  }
}

#topbar {
  background: #111;
  border-bottom: 1px solid #333;
  // background: url("/assets/topbar-background.jpg") repeat-x;

  #logo {
    z-index: 1;
    position: absolute;
    left: 5px;
    top: 20px;

    a {
      background: url("/img/lyonrb_revamped_white.png") no-repeat;
      display: block;
      width: 226px;
      height: 125px;
      text-decoration: none;
      text-indent: -9999px;
      margin: 0 auto;
      float: left;
    }
  }

  nav {
    height: 5em;

    ul {
      margin: 0 auto;
      margin-top: 1em;
      margin-right: 1em;
      position: absolute;
      right: 0;
      top: 0;

      li {
        display: inline;
        float: left;

        a {
          margin-left: 1em;
          font-size: 1.2em;
          line-height: 2em;
          display: block;

          text-transform: uppercase;
          color: #aaa;
        }
      }
    }
  }
}

#pageheader {
  position: relative;
  padding: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  min-height: 130px;
  margin: 0;

  background: #222;

  .when-and-where {
    position: absolute;
    left: 5px;
    top: 60px;
    width: 226px;

    text-align: center;
    text-transform: uppercase;
    color: white;

    .when, .where {
      margin: 0;
      font-weight: 900;
    }
  }

  h1 {
    text-align: right;
    text-transform: uppercase;
    line-height: 1.25em;
    font-size: 2.4em;
    color: white;

    padding: 0;
    margin: 0;
    margin-right: 0.5em;
  }
}

#content {
  background: white;
  min-height: 460px;

  .container .nested {
    padding: 1em;
  }
}

footer {
  background: #222;

  .links {
    padding: 1em;
    height: 2em;
    line-height: 2em;

    .previous-editions {
      float: left;
    }

    .newsletter {
      float: right;
    }
  }
}

@media screen and (max-device-width: 640px) {
  #topbar #logo {
    top: 50px;
    left: 10px;

    a {
      background: url("/img/lyonrb_revamped_white_small.png") no-repeat;
      width: 150px;
      height: 83px;
    }
  }

  #pageheader .when-and-where {
    left: 10px;
    width: 150px;
    font-size: 0.8em;
  }
}
