<footer>
  <section class="sponsors">

    <div class="row">
      <div class="small-12 large-12 columns">
        <h4>Gold Sponsors</h4>
        <ul class="sponsors-block-grid">
          <li>
            <a href="http://www.mailjet.com/"><%= image_tag 'sponsors/Mailjet_logo.png', width: 472, alt: 'Mailjet' %></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="small-12 large-12 columns">
        <h4>Silver Sponsors</h4>
        <ul class="sponsors-block-grid">
          <li>
            <a href="https://www.drivy.com/"><%= image_tag 'sponsors/Drivy_med_nobaseline.png', alt: 'Drivy' %></a>
          </li>
        </ul>
        <ul class="sponsors-block-grid">
          <li>
            <a href="http://www.amadeus.com/"><%= image_tag 'sponsors/amadeus.png', alt: 'Amadeus' %></a>
          </li>
        </ul>
      </div>
    </div>

  </section>
  <section class="credits text-center">
    <p>
      And special thanks to <a href="http://craftsmen.io">Craftsmen</a> for the web design!
      <br />
      Need to get in touch? <a href="mailto:hello@rulu.eu">Email Fabien & Ferdinand.</a>
    </p>
  </section>
</footer>
