%footer
  .container
    .links
      .previous-editions
        %a{href: 'http://2013.rulu.eu'} 2013
        |
        %a{href: 'http://2012.rulu.eu'} 2012
        |
        %a{href: 'http://2011.rulu.eu'} 2011
        |
        %a{href: '/about'} About

      .newsletter
        %a{href: '/'} Stay tuned!
