%header
  #topbar
    .container
      #logo
        %a{href: '/'}
          RuLu Conference
      %nav
        %ul
          %li
            %a{href: '/speakers.html'} Speakers
          %li
            %a{href: '/sponsors.html'} Sponsors
          %li
            %a{href: '/blog.html'} Blog

  #pageheader
    .container
      %h1
        = current_page.data.title
