%header
  #topbar
    .container
      #logo
        %a{href: '/'}
          RuLu Conference
      %nav
        %ul
          %li
            %a{href: '/speakers'} Speakers
          %li
            %a{href: '/sponsors'} Sponsors
          %li
            %a{href: '/blog'} Blog

  #pageheader
    .container
      %h1
        = current_page.data.title
