%header
  #topbar
    .container
      #logo
        %a{href: '/'}
          RuLu Conference
      %nav
        %ul
          %li
            %a{href: '/speakers.html'} Speakers
          %li
            %a{href: '/sponsors.html'} Sponsors
          %li
            %a{href: '/blog.html'} Blog

  #pageheader
    .container
      .when-and-where
        .when
          June 19-20
          %sup th
          2014
        .where
          Lyon, France
      %h1
        = current_page.data.title
