---
title: About RuLu
style: about
---
%h2 So it's in France, right?
%p
  Ruby Lugdunum (aka Rulu) is a two-day conference
  dedicated to the
  = succeed '.' do
    = link_to "Ruby Programming Language", 'https://www.ruby-lang.org/'
  %br
  It happens every year in June, in
  = succeed '.' do
    = link_to "Lyon, France", 'http://goo.gl/maps/ItngA'

%p
  RuLu features
  great talks,
  %br
  plenty of time to meet people
  and awesome food!

%p
  RuLu 2014 will be the fourth edition of the
  %br
  Ruby Lugdunum Conference.
