---
title: About RuLu
---
%section.about
  .row
    %div{ class: 'small-12 large-10 columns' }

      %h3 RuLu Facts
      %p
        Ruby Lugdunum (aka Rulu) is a two days conference
        dedicated to the
        = succeed '.' do
          = link_to "Ruby Programming Language", 'https://www.ruby-lang.org/'
      %p
        RuLu happens every year in June, in
        = succeed '.' do
          = link_to "Lyon, France", 'http://goo.gl/maps/ItngA'
      %p
        This year will be the fourth edition of the conference.
