---
title: CFP
---
%h2
  Call For Proposal
%p
  You want to come and give a talk at RuLu?
  Please
  = succeed '!' do
    %a{href: 'https://docs.google.com/forms/d/1IWp0iVJybc2vY0Nu38s28tsG3yVugnjcBWMHo4cDHIg/viewform'} submit your talk

%h3
  How it works
%p
  Here is the CFP process in a few steps:
%ol
  %li
    you submit your talk(s) using the
    %a{href: 'https://docs.google.com/forms/d/1IWp0iVJybc2vY0Nu38s28tsG3yVugnjcBWMHo4cDHIg/viewform'}
      CFP form
  %li
    we may send contact you by email to know more about your talk
  %li
    the CFP closes, we vote and select the talks
  %li
    eventually, we let you know if your talk has been selected
%p
  The CFP closes on March 31st, so we will give our definitive answer at the beginning of April.

%h3
  About your talk
%p
  Your talk may or may not be about the Ruby language.
  But we suppose you take the point of view of a rubyist.
  Or you could do the opposite:
  talk to rubyists and propose a perspective change!
%p
  Don't forget to give a
  %b good abstract
  that reveals what is so important/unique/exciting about your talk!
%p
  We recommend you have a look at Mike Moore's blog post on
  = succeed '.' do
    %a{href: 'http://blowmage.com/2013/01/24/writing-conf-proposals'}
      How to write a conference proposal

%h3
  What you get
%p
  What you get, in a few words:
%ul
  %li
    two nights at the
    %b speakers' hotel
  %li
    a
    %b high quality video
    of your talk, published on Youtube
  %li
    a diner with the other speakers, right before the conference
  %li
    and a free ticket to the conference, of course
%p
  And we will help you as much as you can:
%ul
  %li
    we give you
    %b feedbacks
    on your draft
  %li
    we assist you so that your find your way to RuLu
  %li
    we make
    %b everything to make you feel comfortable

%h3
  Travel expenses
%p
  We don't cover travel expenses but we encourage
  = succeed '.' do
    %b speaker sponsorship
%p
  If a company covers your travel expenses, it becomes a
  %b speaker sponsor
  and get
  %b special thanks on stage
  and in the newsletter.
  And we make sure that the logo of the company is
  %b visible on the video
  of your talk.

%h3
  Any question?
%p
  Please send an email to
  %a{ href: 'mailto:hello@rulu.eu' }
    hello@rulu.eu
  if you've got any question.
%p
  Now it's about time to submit your talk! :)
