%html
  %head
  %body
    %header
      #topbar
        .container
          #logo
            %a{href: '/'}
              RuLu Conference
          %nav
            %ul
              %li
                %a Speakers
              %li
                %a Sponsors
              %li
                %a Venue
              %li
                %a Blog

      #pageheader
        .container
          .when-and-where
            .when
              June 19-20
              %sup th
              2014
            .where
              Lyon, France
          %h1
            Speakers

    #content
      .container
        .nested
          Here goes the page content.

    %footer
      .container
        .links
          .previous-editions
            %a{href: 'http://2013.rulu.eu'} 2013
            |
            %a{href: 'http://2012.rulu.eu'} 2012
            |
            %a{href: 'http://2011.rulu.eu'} 2011
            |
            %a{href: '/about/FIXME'} About
          .newsletter
            %a{href: '/newsletter/FIXME'} Stay tuned!
