---
title: Speakers
---
%h2
  First speakers to be announced
%p
  The first speakers will be announced during the
  = succeed '.' do
    %a{href: '/cfp'} CFP process
  Stay tuned!
%p
  The full speaker lineup is to be published on April.
%h3
  Want to become a speaker?
%p
  Have a look at the
  %a{href: '/cfp'} Call For Proposal
  and submit your talk!
