---
title: Sponsors
---
%section
  .row
    .small-12.large-10.columns
      %p
        Please contact
        %a{mailto: 'ferdinand@rulu.eu'} Ferdinand
        if you want to become a sponsor!

      %h3 Gold Sponsors

      %article.row
        .small-6.large-6.columns.text-center
          %a{ href: 'http://www.mailjet.com', target: '_blank' }
            = image_tag 'sponsors/Mailjet_logo.png', alt: 'Mailjet'

        .small-6.large-6.columns
          %header
            %h3 Mailjet
            %h5 Real-time Cloud Emailing platform
            %p
              %a{ href: 'http://www.mailjet.com', target: '_blank' }
                Mailjet
              is a powerful all-in-one cloud email service provider that not only enables our customers to send transactional and marketing email to their contacts but also better understand them, email after email. Our powerful set of APIs allows you to easily accept incoming emails with our ParseAPI and send emails straight from your apps with our SendAPI.
