---
title: Sponsors
---
%section
  .row
    .small-12.large-10.columns
      %p
        Please contact
        %a{mailto: 'ferdinand@rulu.eu'} Ferdinand
        if you want to become a sponsor!

      %h3 Gold Sponsors

      %article.row
        .small-6.large-6.columns.text-center
          %a{ href: 'http://www.mailjet.com', target: '_blank' }
            = image_tag 'sponsors/Mailjet_logo.png', alt: 'Mailjet'

        .small-6.large-6.columns
          %header
            %h3 Mailjet
            %h5 Real-time Cloud Emailing platform
            %p
              %a{ href: 'http://www.mailjet.com', target: '_blank' }
                Mailjet
              has a unique that boosts the deliverability of your emails.
              They provide in-depth insight so you can optimize more than ever.
