---
title: TICKETS
---
%section.tickets
  .row
    %div{ class: 'small-12 large-10 columns' }

    %h3
      RuLu tickets

    %p
      We still have early bird tickets.
      %b Pick one before this is too late!

    = partial 'weezevent_iframe'

    %br
    %br

    %p
      Please send an email to
      = link_to 'hello@rulu.eu', 'mailto:hello@rulu.eu'
      if you have any question regarding the tickets.
