---
style: homepage
title: TICKETS
---
%h2
  Get your tickets for RuLu 2014

%p.striking
  We still have early bird tickets!

.weezevent-iframe
  = partial 'weezevent_iframe'

%p
  Please send an email to
  = link_to 'hello@rulu.eu', 'mailto:hello@rulu.eu'
  if you have any question regarding the tickets.
